{% extends "master.html" %}

{% block title %}
Passenger
{% endblock %}

{% block body %}
<h2>Passenger Homepage</h2>
<a href="passenger/add">Add Passenger</a><br /><br />
<a href="passenger/remove">Remove Passenger</a><br /><br />
<hr />
<table>
    <tr>
      <th>Name
      Passport Number</th>
      </tr>
      <table>
      <!--  {% for key, value in content %}
           <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
           </tr>
        {% endfor %}
        </table>-->
        
{% for passenger in content %}<tr>
<td>{{passenger}}</td>
</tr>{% endfor %}
</table>
{% endblock %}
