{% extends "master.html" %}

{% block title %}
Remove Passenger
{% endblock %}

{% block body %}
<h2>Remove A Passenger</h2>
<form method="post" action="/passenger/remove">

  <label for="passengerid">Passenger ID:</label><br>
  <select name = "passengerid" method = "get" action = "/passenger/remove">
    {% for passenger in passengerlist %}
    <option value = "{{passenger}}" SELECTED>{{passenger}}</option>
    {% endfor %}
    </select><br>

  <input type="submit" value="Submit">  
</form>
{% endblock %}