{% extends "master.html" %}

{% block title %}
Assign Plane
{% endblock %}

{% block body %}
<h2>Assign A Plane To A Flight</h2>
<form method="post" action="/flighttrip/assignplane">
  <label for="planeid">Plane ID:</label><br>
  <select name = "planeid" method = "get" action = "/flighttrip/assignplane">
    {% for plane in plane_list %}
    <option value = "{{plane}}" SELECTED>{{plane}}</option>
    {% endfor %}
    </select><br>

    <label for="flighttrip">Flight Trip:</label><br>
    <select name = "flighttrip" method = "get" action = "/flighttrip/assignplane">
      {% for trip in flighttrip %}
      <option value = "{{trip}}" SELECTED>{{trip}}</option>
      {% endfor %}
      </select><br>

  <input type="submit" value="Submit">
</form>
{% endblock %}
