{% extends "master.html" %}

{% block title %}
Generate Flight Attendees List
{% endblock %}

{% block body %}
<h2>Generate The Flight Attendees List For A Flight Trip</h2>
<form method="post" action="/flighttrip/generatelist">
  <label for="flighttrip">Flight Trip:</label><br>
  <select name = "flighttrip" method = "get" action = "/flighttrip/generatelist">
    {% for trip in flighttrip %}
    <option value = "{{trip}}" SELECTED>{{trip}}</option>
    {% endfor %}
    </select><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
