{% extends "master.html" %}

{% block title %}
Remove Flight Trip
{% endblock %}

{% block body %}
<h2>Remove A Flight Trip</h2>
<form method="post" action="/flighttrip/removeflighttrip">
    <label for="flighttrip">Flight Trip:</label><br>
    <select name = "flighttrip" method="get" action="/flighttrip/removeflighttrip">
      {% for trip in flightlist %}
      <option value = "{{trip}}" SELECTED>{{trip}}</option>
      {% endfor %}
      </select><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
