<html>
    <head>
        <title> Airport Planner {{title}}</title>
    </head>
    <body>
        <h1>Welcome to Project Beta Airlines  {{title}}</h1>
            <hr />
            <ul style="list-style-type: none; margin: 0; padding: 0; background-color: blue;">
                <li style="float: left;"><a href="/" style="padding: 10px; text-decoration: none; color: black; text-align: center;">Home</a></li>
                <li style="float: left;"><a href="/passenger" style="padding: 10px; text-decoration: none; color: black; text-align: center;">Passengers</a></li>
                <li style="float: left;"><a href="/flighttrip" style="padding: 10px; text-decoration: none; color: black; text-align: center;">Flight Trips</a></li>
                <li style="float: left;"><a href="/plane" style="padding: 10px; text-decoration: none; color: black; text-align: center;">Planes</a></li>
            </ul>
            <br />
            <hr />
            <br />
            {% block body %}
            {% endblock body%}
    </body>
</html>
